[Unit]
Description=Fiaas Service

[Service]
ExecStart=/usr/bin/fiaas.py
#ExecReload=/bin/touch /etc/fiaas.conf
Restart=on-abort

[Install]
WantedBy=multi-user.target
